*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    height: 100%;
    transform-style: preserve-3d;

}
.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform: translateZ(-20px) scale(3);
    width: 95%;
}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
h1 {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    font-size: 10rem;
}
section{   
    padding:2rem 0;
    background-color: rgb(45,45,45); 
}
.secHeading{
    font-size:5rem;
    padding:0 10rem;
    color: white;
}
.text{
    background-color: rgb(45,45,45);
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    padding: 0 10rem;
    margin: 5rem 0; 
}
.desc{
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3%;
    padding: 0 10px;
}
.bg{
    position:relative;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:500px;
}


.bg1{
    background-image: url(sport-1.jpg);
}
.bg2{
    background-image: url(sport-2.jpg);
}
.bg3{
    background-image: url(sport-3.jpg);
}
